<div class="confira">
    <h2>Confira nossa nova coleção <span class="badge text-bg-secondary">Hot!</span></h2>
</div>

<div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" align="center">
      <div class="carousel-item active">
        <div class="card" style="width: 18rem;">
            <img src="blusaRosa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blusa Rosa</h5>
              <p class="card-text">R$150,00</p>
              <a href="https://br.freepik.com/fotos-gratis/mulher-cabeca-de-gengibre-com-roupa-colorida_27586962.htm#fromView=search&page=1&position=4&uuid=4d2a50b9-6001-4e37-950c-0a2b70e1cf20" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="blusaVerde.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blusa Verde</h5>
              <p class="card-text">R$120,00</p>
              <a href="https://br.freepik.com/fotos-gratis/mulher-afro-americana-milenar-seria-e-determinada-olha-diretamente-parece-confiante-usa-uma-camiseta-verde-casual-posa-em-ambientes-fechados-ouve-informacoes-vai-direto-ao-trabalho_13192162.htm#fromView=search&page=1&position=11&uuid=aed7aa1e-beb8-484c-8079-e21a7171853a" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="blusaAzul.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blusa Azul</h5>
              <p class="card-text">R$220,00</p>
              <a href="https://br.freepik.com/fotos-gratis/jovem-mulher-do-oriente-medio-em-pe-sobre-fundo-isolado-mostrando-e-apontando-para-cima-com-os-dedos-numero-tres-enquanto-sorria-confiante-e-feliz_38867503.htm#fromView=search&page=1&position=3&uuid=a05f88d9-63ef-42fd-8b52-cc309e5497bd" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="blusaAmarela.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blusa Amarela</h5>
              <p class="card-text">R$125,00</p>
              <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lojastorra.com.br%2Fblusa-feminina-renda-amarela-17521000026%2Fp&psig=AOvVaw1eXixRbdO5eJT6DQRDeDyh&ust=1719009640926000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCLjP6Img64YDFQAAAAAdAAAAABAE" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="blusaBranca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blusa Branca</h5>
              <p class="card-text">R$115,00</p>
              <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.lojastorra.com.br%2Fblusa-feminina-manga-curta-babadinho-branca-16121000878%2Fp&psig=AOvVaw2f4fykovpjWwL3lEMC-Y76&ust=1719009677472000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCPjdvJ2g64YDFQAAAAAdAAAAABAE" class="btn btn-primary">Comprar</a>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="text-success">←</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="text-success">→</span>
    </button>
  </div>
