body { background: white;
}  /* #0774BC FAESA BLUE */

h1 {
    color: #0774BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container{
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}

.container .card a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0774BC;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover{
    background-color: antiquewhite;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #999;
    border-color: antiquewhite;
}

.container .card a:hover{
    filter: invert(1);
}

footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;
    .rodape {
        padding-top: 10px;
        display: flex;
        margin: auto;
        width: max-content;
        font-family: fantasy;
    }
}