{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/index.css' %}">
    </head>
    <body>
        <h1>Django é Popular</h1>
        <h3>O web-framwork Django é usado por sites muito populares, como:</h3>
        <nav>
            <ul>
                <li>
                    <a>Instagram</a>
                </li>
                <img src="{% static '/images/instagram.png' %}" alt="Instagram">
                <li>
                    <a>Youtube</a>
                </li>
                <img src="{% static '/images/youtube.png' %}" alt="Youtube">
                <li>
                    <a>Spotify</a>
                </li>
                <img src="{% static '/images/spotify.png' %}" alt="Spotify">
                <li>
                    <a>DropBox</a>
                </li>
                <img src="{% static '/images/dropbox.png' %}" alt="DropBox">
                <li>
                    <a>Pinterest</a>
                </li>
                <img src="{% static '/images/pinterest.png' %}" alt="Pinterest">
            </ul>
        </nav>

        <p class="descricao">
            Django tornou se um projeto de código aberto após ser criado como um sistema para gerenciar um 
            site jornalístico na cidade de Lawrence, no Kansas. Hoje, o Django é um framework para desenvolvimento 
            rápido para web, escrito em Python e utilizando o padrão model-template-view.
        </p>

        <footer>
            <div class="rodape">
                <p>Arthur Sabadin Oliveira/ADS/Programação_Back-end</p>
            </div>
        </footer>
    </body>
</html>