{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/index.css' %}">
    </head>
    <body>
        <h1>Django é Popular</h1>
        <h3>O web-framwork Django é usado por sites muito populares, como:</h3>
        <nav>
            <ul>
                <li>
                    <a>Instagram</a>
                    <img src="{% static '/images/instagram.png' %}">
                </li>
                <li>
                    <a>Youtube</a>
                </li>
                <li>
                    <a>Spotify</a>
                </li>
                <li>
                    <a>DropBox</a>
                </li>
                <li>
                    <a>Pinterest</a>
                </li>
            </ul>
        </nav>
    </body>
</html>